<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>

<hr />
<p>This is the greatest text in the world</p>
<%= link_to 'Delete Comment', @comment, method: :destroy  %>
<br />
<%= link_to 'Edit Comment', edit_user_comment_path([:user_id]) %>
<br />
<%= link_to 'New Comment', new_user_comment_path([:user_id]) %>
